html
body
table(style='text-align:center;width:50%', border='1')
tr
th Name
th CardNo
th Month
th Year
th CVV
<br>
each item,i in result
 tr
  td=item.Name 
    =" "
  td=item.CardNo 
    =" "
  td=item.Month 
    =" "
  td=item.Year 
    =" "
  td=item.CVV
